@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-black:rgb(0, 0, 0);
    --primary-blue:rgba(29,161,242,1.00);
    --primary-grey:rgba(217,217,217,1.00);
    --secondary-grey:rgb(136, 146, 176);
    --primary-green:rgb(100, 255, 218);
    --primary-white:rgb(230, 241, 255);
    --secondary-blue:rgb(45, 57, 82);
    --secondary-black: #151515;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
    padding:0;
    margin: 0;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Inconsolata', monospace;
    background-color: var(--primary-black);
    margin: auto;
    max-width: 90%;
    color: var(--primary-white);
}

/* * lists */

.list-unordered {
    list-style-type: none;
}

.list-inline li {
    display: inline;
    /* margin: 1rem; */
}


.link-primary {
    border: 2px solid var(--primary-blue);
    background-color: transparent;
    color: var(--primary-blue);
    border-radius: 5px;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    letter-spacing: 1.5px;
    cursor: pointer;
}














/* website starts- components end */

/* * nav  */

.navbar {
    display: flex;
    flex-direction: row;
    padding: 7vh 0;
    font-weight: 700;
    text-align: center;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    
}

.navbar ul{
    display: flex;
    flex: 1 1 ;
    justify-content:flex-start;
    align-items: center;
}

.navbar .nav-list li {
    font-size: 2vw;
    display: inline;
    margin-right: 10vw;   
}

.navbar ul a {
    color: var(--primary-blue);
}


/* * header */

.hero {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    min-height: 100vh;
}

.main-text {
    margin: 12vh 0 6vh;
    width: 100%;
    color: var(--primary-white);
    font-family:  "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: left;
}

.main-text h1 {
    font-size: 6vw;
    font-weight: 600;   
 }
.main-text h2 {
    font-size: 4vw;
    font-weight: 600;  
    margin-bottom: 1vh;
    opacity: 80%;
 }
.main-text h3 {
    font-size: 3vw;
    font-weight: 600; 
    margin-bottom: 1vh;
    opacity: 60%;
 }
.main-text h4 {
    font-size: 2.5vw;
    font-weight: 600;   
    opacity: 40%;
 }

 .main-text p {
    font-size: 1.5vw;
    color: var(--primary-blue);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    margin-bottom: 1vh;
 }

 /* section */

 .section{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    padding-top: 20vh; 
    min-height: 100vh;
 }

 .section-title{
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    font-size: 2.5vw;
    font-weight: 700;
    color: var(--primary-blue);
    letter-spacing: 3px;
 }

 .section-title::after{
    content: "";
    display: block;
    height: 1.2px;
    width: 20vw;
    background-color: var(--primary-blue);
    position: relative;
    top: .5vh;
    margin-left: 20px;
 }

 .section-description{
    flex: 50%;
    flex-wrap: wrap;
    margin: 8vh 0;
    font-family: inconsolata,monospace;
    color: var(--primary-white);
    font-size: 2vw;
    line-height: 5vh;
    font-weight: 400;
 }


 /* about section */

 .list-tech{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 15vh;
     font-size: 4vw;
     cursor: pointer;
     opacity: 15%;
     /* color: #212121; */
 }
 
/* project section */

.container-project{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 15vh;

}
.div-project{
    display: flex;   
    flex-wrap: wrap;
    background-color:var(--secondary-black);
    margin-bottom: 10vh;  
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: space-between;
}

.correct{
    flex-direction: row;
}

.reverse{
    flex-direction: row-reverse;
}

.project-site{
    display: flex;  
    padding: 1vh;
}

.project-site img{
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.project-description{
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    flex: 1;
    margin-top: 5vh;
}

.project-link{
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;   
    font-weight: 600;
    line-height: 5vh;
}

.project-link a{
    color: var(--primary-blue);
}

.light{
    opacity: 60%;
}

.all{
    margin: auto;
    margin-bottom: 15vh;

}


/* blog section */

.div-grid{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20vh;
    gap: 2vw;
    
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
    position: relative;
     */
}

.grid-card{
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    padding: 4vh 2vh;
    height: 100%;
    border-radius: 3px;
    background-color: var(--secondary-black);
    flex: 1;
    min-height: 30vh;
    
    
}

.article-icon svg{
    fill: var(--primary-white);
}

.article-head {
    font-size: 3vh;
    padding:0 2vh;
}

.article-head p{
    margin: 1rem 0;
    line-height: 3vh;
    font-size: 2.5vh;
    opacity: 70%;
}
.article-head a {  
    color: var(--primary-white);
}


/* social section */

.social-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-button{
    display: flex;
    flex-direction: row;
    font-size: 1.7vw;
    font-weight: 400;
    justify-content: center;
}

.social-button p{
    margin: 0 1vw;    
}

.social-button i{
    color: var(--primary-blue);
}

.contact-me{
    max-width: 80%;
    margin: auto;
    border: 2px solid var(--primary-blue);
    border-radius: 6px;
    text-align: center;
    padding: 5vh;
    margin-top: 20vh ;
}

.contact-me h2 {
    font-size: 2.5vw;
    font-weight: 700;
    margin: 4vh;
    color: var(--primary-blue);
}

.contact-me p{
    font-size: 1.6vw;
    margin: auto;
    margin-bottom: 3rem;
    max-width:90%;
    line-height:2rem;
}

.contact{
    margin-bottom: 30vh;
}

/* footer */

.footer-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
    margin-bottom: 10vh;
}

.footer-section p{
    font-size: 1.4vw;
}

.footer-element p {
    display: flex;
    justify-content: center;
}



/* side  social list  */

    @media screen and (max-width:1025px){
        .div-social{
            display: none;
        }
    }



  @media screen and (min-width:1030px){

      .div-social{
      width: 50px;
      position: fixed;
      bottom: 0px;
      right: 4rem;
      color: var(--primary-blue);
      }
  
      .list-social{
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          padding: 0px;
          margin: 0px;
      }
  
      .list-social a{
          display: inline-block;
          text-decoration: none;
          color: inherit;
          position: relative;
          cursor: pointer;
          padding: 10px;
          font-size: 1.4rem;
      }
  
      .list-social li:last-of-type{
              margin-bottom: 1.5rem;
      }
  
      .list-social::after{
          content: "";
          display: block;
          width: 2px;
          height: 105px;
          margin: 0px auto;
          background-color: var(--primary-blue);
      }
  }

   

/* projects page */

.section-two{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    min-height: 80vh;
}

.section-three{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    min-height: auto;

}

.main-text-two{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-white);
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: left;
    margin:auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.week{
    margin-bottom: 3rem;
}

.card-icon i{
    margin-top: 5px;
    color: var(--primary-blue);
}

.img-card img{
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.img-card{
    border: 2px solid ;
    position: relative;
    height: 100%;
    border-radius: 5px;
    color: var(--secondary-blue);
  
}


.project-card-link{
    display: block;
    text-align: right;
    
}

.project-card-link i{
    color: var(--primary-blue);
}


/* blogs page*/

.article{
    margin-bottom: 10rem;
}

.article-title{
    margin-bottom: 3rem;
}

.div-grid-two{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    position: relative;
}

.blog-date{
    grid-row: span 1/auto;
    padding: 1rem 0rem;
}

.blog-date p{
    border: 2px solid var(--primary-black) ;
    outline: none;
    border-left-color: var(--primary-blue);
    padding: .5rem 1rem;
    color: var(--primary-blue);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;  
}

.blog-name{
    grid-row:span 3/auto;
    grid-column: span 3/auto;
    padding: 1rem;
}

.blog-name a{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--primary-white);
}

.blog-name p{
    opacity: 70%;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
  







